<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.mity.ev3command"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="11" />

    <application
        android:allowBackup="true">
    </application>

</manifest>
